# docker-compose.yml
services:
  db:
    image: postgres:17
    container_name: task_vault_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}       
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
      POSTGRES_DB: ${POSTGRES_DB}         
    ports:
      - "${POSTGRES_PORT}:5432"             
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:

  